@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  transition: color 0.3s, background-color 0.3s; /* Todo: transition variables */
  min-height: 100dvh;
}

span, p, h1, h2, h3, h4, h5, h6 {
  transition: color 0.3s; /* Todo: transition variables */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
