
.swiperSideNavigation {
  &:before {
    content: "";
    position: absolute;
    right: 0;
    width: 12rem;
    height: 100%;
    background: radial-gradient(ellipse at right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 50%);
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 100%); */
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
}
.leftSwiperSideNavigation {
  &:before {
    left: 0;
    right: auto;
    background: radial-gradient(ellipse at left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0) 50%);
  }
}

.swiperSideNavigation:hover:before {
  opacity: 1;
}

:global(.light) .swiperSideNavigation:before {
  background: radial-gradient(ellipse at right, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0) 50%);
}
:global(.light) .leftSwiperSideNavigation:before {
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0) 50%);
}